/* \/ Generic stuff \/ */

:root {
    --color1: #2A2164; /* #A6A6F0; */
    --color2: #4D467B; /* #8B8BC6; */
    --color3: #706B93; /* #6F6F9C; */
    --color4: #938FAA; /* #545471; */
    --color5: #B6B4C2; /* #383847; */
    --color6: #D9D9D9; /* #1D1D1D; */ 
}

html, body {
    color: var(--color3);
    background-color: var(--color6);
    border-color: var(--color2);
}

/* /\ Generic stuff /\ */

/* \/ Layout \/ */

.base {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    width: 98%;
    height: 98%;
    overflow-y: auto;
}

.main {
    padding: 0px;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    display: inline-flex;
}

.inline {
    display: inline-flex;
}

.container {
    padding: 5px 10px 5px 10px;
}

.hidden {
    display: none;
}

/* /\ Layout /\ */

/* \/ Typography \/ */

.title {
    text-align: center;
    color: var(--color1);
    margin-bottom: 10px;
}

.text1 {
    color: var(--color2);
    font-weight: 400;
    margin: 0;
}

.text2 {
    color: var(--color3);
    margin: 0;
}

.error {
    color: var(--color2);
    font-weight: bold;
    margin: 0;
}


/* /\ Typography /\ */

/* \/ Overriding Bootstrap \/ */

.form-control, .form-select {
    background-color: var(--color6);
    border: 1px solid var(--color3);
    color: var(--color1);
}

.form-control:disabled, .form-select:disabled {
    background-color: var(--color5);
    border: 1px solid var(--color3);
    color: var(--color1);
}

.form-control:focus {
    background-color: var(--color6);
    border-color: var(--color3);
    box-shadow: 0 0 0 0.25rem var(--color4);  
    color: var(--color1);
}

.form-select:focus {
    border-color: var(--color3);
    box-shadow: 0 0 0 0.25rem var(--color4);
    color: var(--color1);
}

.btn-overlay, .btn-overlay:hover {
    background-color: var(--color1);
    border-color: var(--color2);
    color: var(--color6);
    font-weight: bold;
}

.btn-overlay:focus, .btn-overlay:active {
    background-color: var(--color2);
    border-color: var(--color3);
    color: var(--color6);
    font-weight: bolder;
    box-shadow: 0 0 0 0.25rem var(--color4);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--color4);
}

.form-check-inline {
    padding: 0 1.5em;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23706B93'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23706B93'/%3e%3c/svg%3e");
}

.form-check-input:checked {
    background-color: var(--color2);
    border-color: var(--color2);
}

.form-check-input:focus {
    border-color: var(--color3);
    box-shadow: 0 0 0 0.25rem var(--color4);
}

/* /\ Overriding Bootstrap /\ */

/* \/ Dice results \/ */

.dice-result {
    background-color: var(--color2);
    color: var(--color6);
    font-weight: bold;
    width: 10%;
    font-size: 14px;
    margin: 5px 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--color2);
}

.dice-tower {
    max-height: 150px; /* fallback */
    max-height: calc(var(--vhDiceTower, 1vh) * 95 - var(--offsetDiceTower, 150px));
    overflow-y: auto;
    border: 1px dotted;
    border-color: var(--color2);
}

.history {
    max-height: 500px; /* fallback */
    max-height: calc(var(--vhHistory, 1vh) * 97 - var(--offsetHistory, 150px));
    overflow-y: auto;
}

.history-entry {
    margin: 0 5px 10px 0;
}

.history-result {
    background-color: var(--color2);
    color: var(--color6);
    font-weight: bold;
    width: 20%;
    font-size: 14px;
    margin: 5px 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--color2);
}

.history-tower {
    overflow-y: auto;
    border: 1px dotted;
    border-color: var(--color2);
    display: inline-flexbox;

}

.total {
    font-size: x-large;
    font-weight: bolder;
    background-color: var(--color5);
    border-color: var(--color1);
    color: var(--color1);
    width: calc(var(--totalSize));
    padding: 0 10px 0 10px;
}

.badge {
    font-weight: normal;
}

.criticalHigh {
    background-color: lightgreen;
    color: #36213E; /* light theme color1 */
    font-weight: bolder;
}

.criticalLow {
    background-color: lightcoral;
    color: #36213E; /* light theme color1 */
    font-weight: bolder;
}

.dropped {
    background-color: var(--color6);
    color: var(--color3);
    font-weight: normal;
}

/* /\ Dice results /\ */

.test {
    border: 1px;
    border-style: solid;
}
